@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #134B70;
    --sec-color: #508C9B;
    --bg-color: #EEEEEE;
    --txt-color: #31363F;
    --border-color: #000000;
    --hover-col: #E7F6F2;
    --hover-bg: #395B64;
}
html{
  scroll-behavior: smooth;
}

body{
  font-family: "Nunito", sans-serif;
  background-color: #EEEEEE;
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
  a{
    text-decoration: none;
    color: var(--txt-color);

    &:hover{
      text-decoration: underline;
    }
  }
}
header{
  padding-top: 10px;
  padding-bottom: 2px;
  max-width: 1440px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0,0,0,0.1);

  .logo-holder{
    display: flex;
    padding: 10px;
    align-items: center;
    /* font-weight: 700; */
    
    .logo{
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--border-color);
      font-weight: 700;

      font-size: 20px;
      margin-right: 20px;
      /* border-radius: 25%; */
      &:hover{
        text-decoration: none;
        /* color: var(--purple); */
      }
    }
  }
  nav{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease 0.3s all;
    /* padding: 10px; */

    ul{
      display: flex;
      list-style: none;
      padding: 0;
      gap: 5px;

      li{
        display: inline-block;
        margin-right: 20px;
        font-weight: 400;
        font-size: 20px;
        padding-top: 10px;

        a{
          padding: 10px 20px;
          &:hover{
            background-color: var(--hover-bg);
            text-decoration: none;
            color: var(--hover-col);
            border-radius: 10px;
          }
        }
      }
    }
    .toggle{
      display: none;
      color: var(--txt-color);
      padding: 10px;

      @media(max-width: 768px){
        display: inline-block;
        position: absolute;
        top: 2px;
        right: 20px;
      }
    }
  }
  @media(max-width: 1024px){
    flex-direction: column;
    align-items: center;
  }
  @media (max-width: 768px) {
    nav{
      ul{
        display: none;
         &.show{
          display: flex;
          flex-direction: column;
          /* align-items: center; */
          position: absolute;
          top: 60px;
          right: 0;
          background-color: var(--bg-color);
          border: 1px solid rgba(0,0,0,0.1);
          border-radius: 10px;
          z-index: 1;
          
          li{
            margin-right: 0;
            margin-bottom: 0;
            padding: 10px 20px;
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }
}
.container{
  max-width: 1440px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  gap: 30px;

  @media(max-width: 1440px){
    padding-left: 30px;
    padding-right: 30px;
  }
}
h1{
  font-size: 60px;
  line-height: 1;
  font-weight: bolder;
  margin-bottom: 10px;
  small{
    display: block;
    font-weight: 100;
  }
  @media(max-width: 1024px){
    font-size: 50px;
  }
}
.button{
  display: inline-block;
  padding: 10px 30px;
  background-color: var(--primary-color);
  color: var(--hover-col);
  border-radius: 10px;
  transition: ease 0.3s all;

  &:hover{
    background-color: var(--sec-color);
    text-decoration: none;
  }
  &.black{
    background-color: black;
    color: white;
    &:hover{
      background-color: var(--hover-col);
      color: black;
    }
  }
}
.hero{
  display: flex;
  @media(max-width: 1024px){
    flex-direction: column;
  }
  .cover-txt{
    flex: 1;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .call-to-action{
      margin-top: 20px;
      margin-bottom: 10px;
      a{
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }
    .social-links{
      a{
        transition: 0.3s;
        padding: 8px 2px;
        &:hover{
          background: var(--hover-col);
          border-radius: 10px;
          text-decoration: none;
        }
      }
    }
  }
  .cover-img{
    flex: 1;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    margin-top: -30px;
    user-select: none;
    
    img{
      height: 500px;
      margin-top: -35px;
      margin-bottom: -20px;
      max-width: 420px;
      border-radius: 50vh;
      -webkit-user-drag: none;
      pointer-events: none;

      @media(max-width: 768px){
        height: 400px;
      }
    }
  }
}
.gradient-background {
  /* background: linear-gradient(300deg, #522258, #8C3061, #D95F59); */
  background: linear-gradient(300deg, #134B70, #508C9B, #EEEEEE);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}
h3{
  font-size: 30px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 20px;
  color: var(--txt-color);
}
.about-me{
  .holder{
    /* background-color: var( --hover-col); */
    background-color: #F8F6F4;
    display: flex;
    border-radius: 30px;
    padding: 30px;
    @media(max-width: 1024px){
      flex-direction: column;
    }

    .left-col{
      flex: 1;
      /* background-color: var(--bg-color); */
      padding-right: -50px;
      .about-img{
        display: flex;
        background-color: var(--bg-color);
        justify-content: center;
        /* align-items: center; */
        height: 500px;
        border-radius: 2rem;
        margin-bottom: 50px;
        margin-top: 50px;
        margin-left: 50px;

        @media(max-width: 768px){
          margin-left: 20px;
        }
        @media(max-width: 480px){
          height: 250px;
          margin-top: 0px;
          margin-right: 8px;
          padding-right: 0px;
        }
      }
      ul{
        list-style-type: none;
        gap: 10px;
        margin-right: 100px;
        margin-bottom: 20px;
        padding-left: 0;
        li{
          display: inline-block;
          background-color: #C4DFDF;
          padding: 10px 20px;
          border-radius: 15px;
          margin-bottom: 10px;
        }
      }
    }
    .right-col{
      flex: 1;
      p{
        margin-bottom: 20px;
      }
    }
  }
}

.text{
  text-align: justify;
  margin-top: 3vh;
}
#education .edu-container:last-child{
    padding-bottom: 20px;
}
#education .edu-container::before{
    content: "";
    position: absolute;
    top: 22px;
    left: -13.5px;
    width: 25px;
    height: 25px;
    background: var(--bg-color);
    border: 2px solid #134B70;
    border-radius: 50%;
}
#education{
  .edu-title{
    font-size: 50px;
    font-weight: bolder;
    padding: 0;
    margin-top: 80px;
    margin-bottom: 6vh;
  }
  .edu-container{
    padding: 0 0 20px 50px;
    margin-top: -2px;
    margin-left: 50px;
    border-left: 2px solid #134B70;
    position : relative;
  }
  h3{
    /* line-height: 70px; */
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: var(--txt-color);
    margin-bottom: 40px;
  }
  h4{
    font-size: 30px;
    font-weight: 500;
    background: #C4DFDF;
    padding: 5px 15px;
    margin-top: 10px;
    margin-left: -10px;
    margin-bottom: 10px;
    display: inline-block;
    border-radius: 10px;
  }
  p{
    font-size: 18px;
    font-weight: lighter;
    margin-top: -5px;
    margin-bottom: 10px;
  }
  .edu-image{
    width: 20%;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.img-edu{
  display: grid;
  grid-row: 2 / span 3;
}
.skill-grid{
  display: grid;
  grid-template: 20% 20% 20% 20% 20%/ 20% 20%;
  row-gap: 30px;
  column-gap: 250px;
  margin-left: 50px;
  /* margin-right: 20px; */
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: 10px;
}
.gif{
  height: 20vh;
  width: 20vh;
  border-radius: 20vh;
  align-items: start;
  border-color: #134B70;
  /* border-style:solid; */
}
#skill{
  .about-container{
    display: flex;
  }
  .skillHeading{
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 10vh;
  }
  .skill-details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border-radius: 2rem;
  border-color: var(--primary-color);
  border-style:solid; */
  }
  .details{
    padding: 3rem;
    flex: 1;
    border-left: 0px solid var(--primary-color);
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    border-style:solid;
    text-align: center;
  }
  .details:not(:last-child) {
    border-right: 1px solid var(--primary-color);
  }
  .skill-subtitle{
    color: var(--txt-color);
    font-weight: 600;
    font-size: 1.75rem;
    margin-bottom: 2rem;
  }
  .skill-icon{
    height: 2rem;
    cursor: default;
  }
  .article-container{
    display: flex;
    padding-left: -3rem;
    text-align: initial;
    flex-wrap: wrap;
    gap: 2.5rem;
    /* margin-right: 5px; */
    flex-direction: row;
    justify-content: space-around;

    article{
      display: flex;
      margin-left: 0px;
      width: 8rem;
      justify-content: space-around;
      gap: 1rem;
    }
  }
}
.About1{
  align-items: center;
}
#projects{
  margin-bottom: 140px;
  .project_img{
    width: 100%;
    transition: all 500ms ease;

    .container{
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }
  }
  .project_wrapper{
    display: flex;
    flex-direction: column;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    flex: 1 1 calc(50% - 20px);
    max-width: calc(80% - 20px);
    margin-bottom: 50px;
  }
  .project_desc{
    position: absolute;
    left: 20px;
    padding: 20px;
    top: 50%;
    color: white;
    text-align: left;
    max-width: 800px;
    opacity: 0;
    transition: transform 450ms, opacity 300ms;
    transform: translateY(100%);
    z-index: 3;

    @media(max-width: 768px){
      left: 30px;
      padding-right: 30px;
    }
    @media(max-width: 480px){
      padding: 10px;
      left: 0;
      width: 100%;
    }
  }
  .project_title{
    font-size: 60px;
    color: white;
    text-align: left;

    @media(max-width: 768px){
      font-size: 30px;
      line-height: 1;
      text-align: center;
    }
    @media(max-width: 480px){
      font-size: 30px;
      line-height: 1;
      text-align: center;
    }
  }
  .project_date{
    @media(max-width: 768px){
      text-align: center;
      font-size: 10px;
    }
    @media(max-width: 480px){
      text-align: center;
      font-size: 10px;
    }
  }
  .project_subtitle{
    color: var(--sec-color);
    text-align: left;
    @media(max-width: 768px){
      font-size: 12px;
      text-align: center;
    }
  }
  .project_text{
    margin: 16px 0;
    color: white;
    text-align: left;

    @media(max-width: 768px){
      font-size: 12px;
      text-align: center;
    }
    @media(max-width: 480px){
      display: none;
      font-size: 12px;
    }
  }
  .project_links{
    margin-right: 16px;
    text-align: left;
    a{
      color: white;
      &:hover{
        text-decoration: none;
        color: #A64D79;
      }
    }

    @media(max-width: 480px){
      display: flex;
      justify-content: center;
    }
    @media(max-width: 768px){
      text-align: center;
    }
  }
  .project_wrapper::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1c1d25;
    opacity: 0;
    /* transition: all 450ms ease; */
    transition: opacity 450ms ease, transform 450ms ease;
    z-index: 2;
    transform: translateY(100%);
    will-change: transform, opacity;
  }
  .project_wrapper:hover::before{
    transform: translateY(0);
    opacity: 0.9;
  }
  .project_wrapper:hover .project_desc{
    opacity: 1;
    transform: translateY(-50%);
  }
}
#projects:last-child{
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .skill-grid {
    grid-template: repeat(auto-fit, minmax(250px, 1fr));
    margin: 0;
    column-gap: 150px;
  }
  #education {
    width: 100%;
  }
  .gif{
    height: 15vh;
    width: 15vh;
  }
}
#contact{
  .contact-title, .sub{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    text-align: center;
  }
  .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 60px 40px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;

    @media (max-width: 700px){
      flex-direction: column-reverse;
      padding: 20px 20px 40px 20px;
    }
  }
  .left-side{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 15px;
    ::before{
      content: '';
      position: absolute;
      height: 70%;
      width: 1px;
      right: -15px;
      top: 50%;
      transform: translateY(-50%);
      background: var(--primary-color);
    }
    .contact-icon{
      height: 2rem;
    }
    .info{
      margin: 14px;
      text-align:center;

      div{
        margin-bottom: 20px;
        p{
          margin-bottom: 2px;
          font-size: 15px;
          @media (max-width: 700px){
            font-size: 10px;
          }
        }
      }
    }
    @media (max-width: 700px){
      width: 100%;
      margin-top: 40px;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      ::before{
        display: none;
      }
    }
  }
  .right-side{
    width: 60%;
    margin-left: 80px;

    .input-box{
      height: 50px;
      width: 100%;
      margin: 12px 0;
      input, textarea{
        height: 100%;
        width: 70%;
        border: none;
        border-radius: 20px;
        font-size: 15px;
        font-weight: 500;
        padding: 0 20px;
        resize: none;
      }
    }
    .message-box{
      min-height: 110px;
    }
    .button{
      outline: none;
      border: none;
      border-radius: 20px;
    }
    @media (max-width: 700px){
      width: 100%;
      margin-left: 0;
    }
  }
}
.showcase{
  .section-title{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .illustrations{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-right: 10px;
    padding-right: 10px;

    img{
      height: 20rem;
      @media (max-width: 925px){
        height: 15rem;
      }
      @media (max-width: 680px){
        height: 10rem;
      }
      @media(max-width: 480px){
        height: 8rem;
      }
    }
  }
}
